/* David's Styling */

@media only screen and (max-width: 960px){

 .hide{
    display: none;
  }
}

#bar-color{
	background-color: #1e5869;
	color: #fff;
	padding-top: 20px;
}

.logo{
	margin: 10px 0;
}

footer{
	position: relative;
  color: #fff;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #1e5869;
  clear: both; 
}


#show{
	display: none;
}

#hide{
	display: block;
}

/* error form div */
input.error {
      background: red;
}

#inputborder{
	border-color: #ec1e52;
}

#success{
	display: none;
}

input.ng-invalid.ng-dirty {
  background-color: red;
}
input.ng-valid.ng-dirty {
  background-color: green;
}

/*Paralax sections*/

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 450px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 28px;
  line-height: 600px; 
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../imgs/slider1.png");
 
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
} 
